{% extends "base/base.html" %}


{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ut, natus magnam reprehenderit perspiciatis, minima et non dolore commodi maiores maxime in excepturi ad mollitia voluptatibus possimus quis laboriosam exercitationem nostrum itaque soluta unde. Eum at, nam explicabo cum eveniet praesentium fugit id quaerat vel quis? Aliquam eveniet expedita tenetur asperiores perferendis porro tempora deserunt voluptatem exercitationem! Ipsum rem maiores sunt a nam, quo corrupti blanditiis! Nam praesentium deleniti, vel autem corrupti dolor doloremque odio reprehenderit facere, repellendus harum illum facilis ea soluta quibusdam, veniam neque laboriosam temporibus? Quam eos tempore perferendis odit nihil architecto harum culpa magni blanditiis dolor!</p>

{% endblock %}

